{
  "extends": [
    "standard",
    "standard-react"
  ],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "block-spacing": [2, "always"],
    "react/prefer-es6-class": [2, "always"]
  }
}