@import "./photon-overrides.css";
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700,700i|Merriweather:400,400i,700,700i');

.hide {
  display: none;
}

.ql-editor {
  font-family: 'Merriweather', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 2em;
}

.ql-editor p {
  padding-top: 0.75em;
}

.ql-editor p:first-of-type {
  padding-top: 0;
}

.ql-editor h1, .ql-editor h2, .ql-editor h3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  padding-top: 0.5em;
}

.ql-editor h1 {
  margin-bottom: 0.2em;
  padding-bottom: 0.3em;
}

.ql-editor h1 {
  padding-bottom: 0.1em;
}
